.app-logo {
  margin-right: 0.5rem;
}

.footer {
  padding: 1rem 0;
  font-size: 0.8rem;
}

@media only screen and (min-width: 500px) {
  .horizontal-line {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .placeholder {
    display: none;
  }
}